.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.EmailHeader{
  color: white;
  font-size: medium;
  margin-bottom: 0px;
}
.EmailInput{
  color: white;
  width:'10%';
  margin-top: 0;
}
/* input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
} */
.CardBackground{
  background-color: yellow;
  margin-bottom: 20px;
  border-radius: 0 0 10px 10px;
}
.CardBackgroundMerch{
  background-color: grey;
  margin-bottom: 20px;
  border-radius: 0 0 10px 10px;
}
.CardBackgroundShow{
  background-color: yellow;
  background: yellow;
  margin-bottom: 20px;
  border-radius: 0 0 10px 10px;
  width: 100%;
}
.Intro {
  width: 100%;
  margin-top: 50px;
  text-align: center;
  vertical-align: auto;
}

.Info {
  margin-top: 150px;
  text-decoration: none;
  color: #333333;
}

.noDecoration {
  text-decoration: none;

}

.HeaderFont {
  color: yellow;
  size: 4vh;
  text-align: center;
  letter-spacing: 5px;
}
.CenterContainer {
  vertical-align: auto;
}
.showText {
  color: yellow;
  font-size:6vh;
  text-decoration: none;
  margin: auto;
  text-align: left;
  
}
.showText2 {
  color: black;
  font-size:3vh;
  margin: auto;
  text-align: left;


}

.HeaderBack {
  background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
  /* text-align: center; */
  width:100%;    
  /* position: sticky; */
  /* top: 0; */


}

.SearchButton {
  background-color: #685F4D;
  color: #111111;
  border: 2px solid #111111;
  margin: 10px;

}

.hoverEff:hover {
  opacity: 80%;
  text-decoration: none;
  /* background-color: #685F4D;
  color: #555555; */
}

.hoverEffText:hover {
  opacity: 50%;
  text-decoration: none;

  /* background-color: #685F4D; */
  /* color: black; */
}

.Background {
  height: 100%;
  width: 100vw;
  background-color: black;
  text-align: center;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-repeat: no-repeat;
  background-size: cover; 
  background: url('../images/homeBack.jpg'); 
}

.Background2 {
  height: 100%;
  width: 100vw;
  background-color: black;
  text-align: center;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-repeat: no-repeat;
  background-size: cover; 
}

.BackgroundMerch {
  height: 100%;
  width: 100vw;
  background-color: black;
  text-align: center;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  /* overflow-y: hidden; */
  /* background-size: cover; */
  background-repeat: no-repeat;
  background-size: cover; 
  background: url('../images/backHand.jpg'); 
}
.BackgroundShow {
  background: url('../images/showBack.jpg'); 

  height: 100%;
  width: 100vw;
  /* background-color: black; */
  text-align: center;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  /* overflow-y:auto; */
  background-size: cover;
  background-repeat: no-repeat;

}

.MerchCard {
  width:90%;

}
Form {
  /* border: 1px solid lightgray;
  border-radius: 10px;
  padding: 20px; */
}

.posterImg {
  width:100%;
  margin-bottom: 20px;
  /* margin-left:auto;
  margin-right:auto; */

}

.merchBackground{
  background-color: rgba(0, 0, 0, 0.6);
  margin-top: 10px;
  margin-bottom: 10px;

}
.showBackground{
  /* background-color: rgba(0, 0, 0, 0.6); */
  margin-top: 10px;
  margin-bottom: 10px;
  background: url('../images/backHand.jpg'); 
}

.socialBackground{
  /* background-color: rgba(0, 0, 0, 0.6); */
  margin-top: 10px;
  margin-bottom: 10px;
  background: url('../images/homeBackRound.jpg'); 
}

.albumStyle {
  width: 30%;
  margin-bottom: 20px;
}
.oldAlbumStyle {
  width: 30%;
  margin: 20px;
}

.Header {
  text-align: center;
  margin: 0;
  width: 100%;

}

.MerchPreviewText {
  color: yellow;
  font-size: 3vh;
  text-align: left;
}

.App-link {
  color: #61dafb;
}

.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; // not neccesary */
}